<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false">

    <testsuites>
        <testsuite name="auto-sri-for-wordpress">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
